# Database (Required)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/polarlearn

# App Related
APP_BASE=http://localhost:5173
APP_LANG=nl
SECRET=change-me-to-a-long-random-string

# Email / SMTP (optional)
SMTP_HOST=your.smtp.host
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

SMTP_FROM=

LOG_LEVEL=info

LOKI_HOST=
LOKI_BASIC_AUTH= # "username:password"